@inject IJSRuntime JsRuntime

<div 
    id="@_elementId" 
    onmousedown="@OnMouseDown"
    onmouseup="@OnMouseUp"
    onmouseleave="@OnMouseUp"
    onmousemove="@OnMouseMove"
    onwheel="@OnMouseMove"
    onkeydown="@OnKeyPress"
    @attributes="@_elementSize"
    tabindex="0"
>
    @ChildContent
</div>