@inject IJSRuntime JsRuntime

<div 
    id="@_elementId" 
    onmousedown="@OnMouseDown"
    onmouseup="@OnMouseUp"
    onmouseleave="@OnMouseUp"
    onmousemove="@OnMouseMove"
    onwheel="@OnMouseMove"
    @attributes="@_elementSize"
>
    @ChildContent
</div>