@inject IJSRuntime JsRuntime

<div 
    id="@ElementId" 
    onmousedown="@OnMouseDown"
    onmouseup="@OnMouseUp"
    onmouseleave="@OnMouseUp"
    onmousemove="@OnMouseMove"
    onwheel="@OnMouseMove"
    onkeydown="@OnKeyPress"
    @attributes="@ElementStyle"
    tabindex="0"
>
    @ChildContent
</div>