@using OmmelSamvirke.Web.Services.PageEditor

@implements IDisposable

@inject LayoutService LayoutService
@inject IJSRuntime JsRuntime

<div 
    id="grid-background" 
    onwheel="@HandleScroll" 
    onwheel:preventDefault="@_preventScrolling" 
    onkeydown="@HandleKeyDown"
    tabindex="0" 
    onscroll:preventDefault="true"
>
    <div id="grid" @attributes="@_gridStyle" onmouseleave="@OnMouseLeave" onmouseup="@OnMouseUp">
        @foreach (DraggableUiBlock uiBlock in LayoutService.SelectedLayoutUiBlocks)
        {
            if (uiBlock is UiHeadlineBlock headlineBlock)
            {
                <UiHeadlineBlock
                    InitialDimensions="@headlineBlock.InitialDimensions"
                    InitialPosition="@headlineBlock.InitialPosition"
                    ParentLayout="@headlineBlock.ParentLayout"
                    ElementId="@headlineBlock.ElementId"
                />
            }
        }
    </div>
</div>
