@using OmmelSamvirke.Web.Pages.PageEditor.Components;

@inherits DraggableUiBlock

<div 
    class="container"
    id="@ElementId" 
    onmousedown="@OnMouseDown"
    onmouseup="@OnMouseUp"
    onmouseleave="@OnMouseLeave"
    onmousemove="@OnMouseMove"
    onwheel="@OnWheel"
    onkeydown="@OnKeyPress"
    @attributes="@ElementStyle"
    tabindex="0"
>
    <MudPaper>
        <MudText>@_content?.Headline</MudText>
    </MudPaper>
</div>
