@using OmmelSamvirke.Web.Pages.PageEditor.Components;
@using OmmelSamvirke.Web.Services.PageEditor

@inherits DraggableUiBlock

@inject SelectedLayoutService SelectedLayoutService

<div 
    class="@("container" + (SelectedLayoutService.CurrentlySelectedUiBlock == this ? " selected" : ""))"
    id="@ElementId" 
    onmousedown="@OnMouseDown"
    onmouseup="@OnMouseUp"
    onmouseleave="@OnMouseLeave"
    onmousemove="@OnMouseMove"
    onwheel="@OnWheel"
    onkeydown="@OnKeyPress"
    onfocusout="@OnFocusOut"
    @attributes="@ElementStyle"
    tabindex="0"
>
    <MudPaper>
        <MudText>@_content?.Headline</MudText>
    </MudPaper>
</div>
