@attribute [Route(PageRoutes.PageEditor)]

@using OmmelSamvirke.Web.Pages.PageEditor.Components;
@using OmmelSamvirke.Web.Routing

@inject IJSRuntime JsRuntime

<PageTitle>Redigeringsværktøj</PageTitle>

<div 
    id="grid-background" 
    onwheel="@HandleScroll" 
    onwheel:preventDefault="@_preventScrolling" 
    onkeydown="@HandleKeyDown"
    tabindex="0" 
    onscroll:preventDefault="true"
>
    <div id="grid" @attributes="@_gridStyle" onmouseleave="@OnMouseLeave" onmouseup="@OnMouseUp">
        <UiHeadlineBlock 
            @ref="_uiBlock"
            ContainerDimensions="@_currentDimensions"
            UpdateCanvasYDimensions="@ExtendYDimension"
            OnUiBlockMoved="@TrimYDimensionEmptySpace"
        />
    </div>
</div>
